.second-section{
    display:flex;
    flex-flow:column;
    height: fit-content;
    width:50%;
    margin-left:auto;
    margin-right: auto;
    margin-top:10px;
}
.second-comment{
    display:flex;
    flex-flow:column;
    height: fit-content;
    width:100%;
    margin-top:10px;
    border-radius:10px;
    background-color: white;
}

.reply-container{
    display:flex;
    flex-flow:row;
    width:80%;
    -webkit-margin-start: auto;
    margin-top:5px;
    border-radius:10px;
    background-color:white;
    visibility:hidden;
    height:fit-content;
}
.show{
    visibility:visible;
}
.reply-container textarea{
    display:flex;
    justify-content:flex-start;
    width:80%;
    height:80px;
    background-color:white;
    color:black;
    border-color:grey;
    margin:10px;
    border-radius:5px;
}
.reply-container button{
    display:flex;
    width:10%;
    height:30px;
    background-color: hsl(238, 40%, 52%);
    color:white;
    margin-top:10px;
    margin-right:10px;
    border-radius: 10px;
    align-items: center;
    justify-content:center;
    border:transparent;
}
.reply-container img ,#replies img{
    width:30px;
    height:30px;
    display:flex;
    justify-content:flex-start;
    align-self:flex-start;
    margin-top:10px;
    margin-left:10px;
}
#replies{
    display:flex;
    flex-flow:column;
    width:85%;
    height:fit-content;
    background-color: white;
    margin-top:10px;
    border-radius:10px;
    -webkit-margin-start: auto;
}
.header-container{
    display:flex;
    flex-flow:row;
    background-color:transparent;
    align-self: flex-start;
    width:100%;
}
.buttons-container{
    display:flex;
    flex-flow:row;
    -webkit-margin-start: auto;
    width:25%;
}
.buttons-container button:first-child{
    display:flex;
    width:10%;
    height:30px;
    background-color:transparent;
    color:red;
    margin-top:10px;
    margin-right:10px;
    border-radius: 10px;
    align-items: center;
    border:transparent;
    -webkit-margin-start: auto;

}
.buttons-container button:last-child{
    display:flex;
    width:10%;
    height:30px;
    background-color:transparent;
    color:hsl(238, 40%, 52%);
    margin-top:10px;
    margin-right:20px;
    border-radius: 10px;
    align-items: center;
    border:transparent;
    -webkit-margin-start: auto;
}
.header-container img{
    display:flex;
    justify-content:flex-start;
    align-self:flex-start;
    -webkit-margin-start: 0%;
}